# Ignore .env file 
.env

# Ignore credential files
legacy/config/*.json
node_modules

# Coverage reports
coverage/
.nyc_output/

# LangGraph API
.langgraph_api

#Google Drive config
.tmp.driveupload/

# Temporary development scripts
# bin/test_sessionTypes_module.js
